<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Note</title>
</head>
<body>
<h2>Bevásárlólista</h2>
<ul>
    <li>kenyér</li>
    <li>tej</li>
    <li>csoki</li>
</ul>
<ol>
<li>Alma</li>
<li>Banán</li>
</ol>
<p>További lista elemek</p>
<ol start="3">
    <li>Körte</li>
    <li>Szilva</li>
</ol>

<table>
    
    <tr>
        <th colspan="2">termékek</th>
        
    </tr>
    <tr>
        <td>kenyér</td>
        <td>tej</td>
    </tr>
    <tr>
        <th colspan="2">gyümölcsök</th>
        <td></td>    
        <tr>
        <td>alma</td>
        <td>körte</td>
    </tr>
    <tr><td rowspan="2">Zöldeségek</td>
        <td>krumpli</td>
    </tr>

</table>
<h2>adatok beküldés</h2>
<form action="/action_page.php">
    <label for="fname">First name:</label>
    <input type="text" id="product_name" name="fname"><br><br>
    <input type="sumbit" value="Sumbit"><br><br>
</form>
</body>
</html>