<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="alap.css" />
    <title>Document</title>
</head>
<body>
    <h1>Felhasználói regisztráció</h1>
    <form action="/" method="post">
        <label for="fullname">Teljes név:</label>
        <input type="text" id="fullname" name="fullname"><br><br>
        
        <label for="email">Email:</label>
        <input type="email" id="email" name="email"><br><br>
       
        <label for="password">Jelszó:</label>
        
        <input type="password" id="password" name="password"><br><br>
        
        <label for="phone">Telefonszám:</label>
        <input type="tel" id="phone" name="phone"><br><br>

        <label>Nem:</label><br>
        <input type="radio" id="gender" name="gender" value="male">
        <label for="male">Ferfi</label><br>
        <input type="radio" id="gender" name="gender" value="female">
        <label for="female">Nő</label><br>
        <input type="radio" id="gender" name="gender" value="other">
        <label for="other">Egyéb</label>

 
        <label for="color">Kedvenc Szín:</label>
        <input type="color" id="color" name="color"><br><br>
        
         
        <label for="profile-pic">Profilkép feltöltése:</label>
        <input type="file" id="profile-pic" name="profile-pic"><br><br>
        
         
        <label for="Born-date">Születési dátum:</label>
        <input type="datetime-local" id="Born-date" name="Born-date"><br><br>

         
        <label for="actual-time">Aktuális idö:</label>
        <input type="time" id="actual-time" name="actual-time"><br><br>

         <label for="interest">Érdeklődési szint(1-100):</label>
        <input type="range" id="interest" name="interest"><br><br>

        <input type="submit" value="regisztráció">
        
      </form>


</body>
</html>